$border-radius: 0;
$paragraph-margin-bottom: 0;

@import '../styles/utils/colors';
@import '~bootstrap/scss/bootstrap';

body {
  min-height: 100vh;
  background-color: #5de6de;
  background-image: linear-gradient(315deg, #5de6de 0%, #b58ecc 74%);
}

.messagesContainer {
  &__messages {
    height: 400px;
    overflow-y: scroll;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &__message {
      color: rgba(0, 0, 0, 0.5);
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      margin: 0.5rem;
    }
  }
}

.homeContainer {
  &__home {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 60%;
    height: auto;
  }
}

.usersContainer {
  border-right: 1px solid lightgray;
}

.dashboardContainer {
  &__dashboard {
    &__buttonContainer {
      &__button {
        margin: 10px;
      }
    }
  }
}


.formContainer {
  &__form {
    &__formGroup {
      &__error {
        color: $red;
      }
    }
  }
}

.userContainer {
  &__image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.formContainer {
  &__form {
    &__input {
      &::placeholder {
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.react-icon-button {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  transition: 0.25s;

  &:hover {
    text-decoration: none;
    font-size: 1.5rem;
  }
}

.btn:focus {
  box-shadow: none;
}

.messageContainer {
  display: flex;
  flex-direction: row;

  &__message {
    display: flex;
    flex-direction: column;
  }

  &__date {
    font-size: 10px;
    text-align: center;
  }

  &__reactionsContainer {
    display: flex;
    align-self: flex-end;

    &__reactions {
      &__reaction {
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        justify-content: flex-start;
        font-size: 0.5rem;
      }
    }
  }
}
